Options +FollowSymLinks

# inherit rules from httpd.conf
RewriteOptions Inherit

# Disable directory browsing
Options All -Indexes

# Prevent folder listing
IndexIgnore *

# Default index file
DirectoryIndex src/index.php

# Truncate file path and extension
RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^json/products/([a-zA-Z0-9]+)/$ /src/json/products.php?id=$1 [NC,L]
RewriteRule ^json/products/([a-zA-Z0-9]+)$ /src/json/products.php?id=$1 [NC,L]
RewriteRule ^json/([^\.]+)/$ /src/json/$1.php [NC,L]
RewriteRule ^json/([^\.]+)$ /src/json/$1.php [NC,L]
RewriteRule ^products/([a-zA-Z0-9]+)/$ /src/pages/products.php?id=$1 [NC,L]
RewriteRule ^products/([a-zA-Z0-9]+)$ /src/pages/products.php?id=$1 [NC,L]
RewriteRule ^([^\.]+)/$ /src/pages/$1.php [NC,L]
RewriteRule ^([^\.]+)$ /src/pages/$1.php [NC,L]

# Route not found page to /src/pages/404.php
ErrorDocument 404 /src/pages/404.php

<FilesMatch "^\.|cloudbuild|composer*|docker*|readme.md|.*.txt$">
  Deny from all
</FilesMatch>