.not-found-center {
  text-align: center;
  margin: 35vh auto 0;
  transform: translateY(-35%);
}

.not-found-title {
  color: #ffb366;
  font-size: clamp(50px, 4vw, 75px);
}

.not-found-info {
  color: #ffb366;
  font-size: clamp(25px, 3vw, 50px);
}

.not-found-cta {
  color: #663300;
  font-size: clamp(20px, 3vw, 40px);
  padding-top: clamp(35px, 2vw, 50px);
}

.not-found-link, .not-found-link:hover {
  color: #663300;
  text-decoration: none;
}

.not-found-link-indicator {
  color: #0d6efd;
}