.auth-center {
  text-align: center;
  margin: 35vh auto 0;
  transform: translateY(-35%);
}

.auth-greeting {
  color: #ffb366;
  font-weight: bold;
  font-size: clamp(25px, 3vw, 50px);
  padding-top: clamp(15px, 1vw, 25px) !important;
  padding-bottom: clamp(0px, 3vw, 50px);
  text-align: center;
}