.contacts-page-title {
  color: #ffb366;
  font-weight: bold;
  font-size: clamp(50px, 4vw, 75px);
  font-family: "Dancing Script", cursive;
  margin-top: clamp(15px, 1vw, 25px) !important;
  text-align: center;
}

.contacts-items {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  padding: clamp(10px, 1vw, 20px) !important;
}

.contacts-item {
  margin-top: clamp(10px, 1vw, 25px) !important;
}

.contacts-label {
  color: #663300;
  font-weight: bold;
  font-size: clamp(16px, 2vw, 20px);
}

.contacts-value {
  font-size: clamp(16px, 2vw, 20px);
}