.error-center {
  text-align: center;
  margin: 35vh auto 0;
  transform: translateY(-35%);
}

.error-title {
  color: #ffb366;
  font-size: clamp(75px, 5vw, 120px);
  font-family: "Dancing Script", cursive;
}

.error-info {
  color: #ffb366;
  font-size: clamp(25px, 3vw, 50px);
}

.error-cta {
  color: #663300;
  font-size: clamp(20px, 3vw, 40px);
  padding-top: clamp(35px, 2vw, 50px);
}

.error-link, .error-link:hover {
  color: #663300;
  text-decoration: none;
}

.error-link-indicator {
  color: #0d6efd;
}