.news-page-title {
  color: #ffb366;
  font-weight: bold;
  font-size: clamp(25px, 3vw, 50px);
  margin-top: clamp(15px, 1vw, 25px) !important;
  text-align: center;
}

.news-item {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  margin-bottom: clamp(15px, 1vw, 20px);
  padding: clamp(10px, 1vw, 20px) !important;
}

.news-item-date {
  color: #757575;
  font-style: italic;
  font-size: clamp(14px, 1vw, 16px);
}

.news-item-title {
  font-weight: bold;
  font-size: clamp(20px, 2vw, 28px);
  margin-top: clamp(10px, 1vw, 20px) !important;
}

.news-item-content {
  font-size: clamp(16px, 2vw, 18px);
  margin-top: clamp(5px, 1vw, 10px) !important;
}