#products {
  position: relative;
}

.products-page-title {
  color: #ffb366;
  font-weight: bold;
  font-size: clamp(25px, 3vw, 50px);
}

.products-center {
  color: #ffb366;
  text-align: center;
  margin: 30vh auto 0;
  transform: translateY(-30%);
}